<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><a href="/customer/create">Create</a></h2>
<form action="/customer/search" method="post">
    <input type="text" name="name">
    <input type="submit" value="search">
</form>
<h2> Danh Sách Khách Hàng</h2>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Email</td>
    </tr>
    <th:block th:each="c:${list}">
        <tr>
            <td th:text="${c.name}"></td>
            <td th:text="${c.address}"></td>
            <td th:text="${c.email}"></td>
            <td>
                <a th:href="@{'/customer/edit/'+${c.id}}">edit</a>
                <a onclick="return confirm('are you sure?')" th:href="@{'/customer/delete/'+${c.id}}">delete></a>
            </td>
        </tr>
    </th:block>

</table>
</body>
</html>